:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color-btn: #188ce8;
  --logo-color: #000000;
  --footer-logo-color: #ffffff;
  --hover-color: #2196f3;
  --page-bg-color: #ffffff;
  --section-bg-color: #2f303a;
  --footer-auth-color: rgba(255, 255, 255, 0.6);
  --bgc-ourteam-color: #f5f4fa;
  --container-border-color: #eeeeee;
  --primati-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--primati-time-function), visibility 250ms var(--primati-time-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--primati-time-function);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms var(--primati-time-function);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms var(--primati-time-function);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--primati-time-function);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primari-text-color);
}

.modal-fild {
  margin-bottom: 10px;
}

.modal-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-comment-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--primati-time-function);
}
.modal-comment-text:focus {
  border-color: var(--accent-color);
}
.modal-comment-text::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  display: flex;
  align-items: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms var(--primati-time-function);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--footer-logo-color);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.policy {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.submit-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
  text-decoration: none;
  border-color: transparent;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms var(--primati-time-function);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: var(--hover-color-btn);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--page-bg-color);
  color: var(--primari-text-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigator {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}

.header__logo {
  margin-right: 93px;
}

.logo__accent {
  color: var(--accent-color);
}

.menu__item {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 32px 0;
  transition: color 250ms var(--primati-time-function);
}
.menu__item:hover, .menu__item:focus {
  color: var(--accent-color);
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item.current {
  color: var(--accent-color);
}

.menu {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.link.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.connect {
  display: flex;
  gap: 50px;
}

.connect__item:last-child {
  margin-right: 0;
}

.connect__mail,
.connect__tel {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  padding: 32px 0;
  transition: color 250ms var(--primati-time-function);
}
.connect__mail:hover, .connect__mail:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.connect__icon {
  fill: currentColor;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  align-items: center;
  padding: 200px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: var(--page-bg-color);
}

.hero__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
  text-decoration: none;
  border-color: transparent;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms var(--primati-time-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hover-color-btn);
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits {
  display: flex;
  gap: 30px;
}

.benefits__items {
  flex-basis: calc(100% - 22.5px);
}
.benefits__items::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: var(--bgc-ourteam-color);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits__text {
  line-height: 1.71;
}

.works {
  padding-top: 47px;
  padding-bottom: 94px;
}

.direction {
  display: flex;
  gap: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.section__title--indents {
  margin-bottom: 50px;
}

.direction__container {
  position: relative;
}

.direction__text {
  position: absolute;
  width: 100%;
  padding: 27px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--bgc-ourteam-color);
}

.team {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% - 22.5px);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team__title--indents {
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms var(--primati-time-function), background-color 250ms var(--primati-time-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--hover-color);
  color: var(--page-bg-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1200px;
  margin: 0 auto;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-icon-list {
  width: 170px;
  height: 92px;
}

.clients-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: border-color 250ms var(--primati-time-function), color 250ms var(--primati-time-function);
}
.clients-icon:hover, .clients-icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.logo-icon {
  fill: currentColor;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.partfolio-button {
  padding: 6px 22px;
  font-family: inherit;
  border-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--bgc-ourteam-color);
  color: var(--title-text-color);
  transition: color 250ms var(--primati-time-function), background-color 250ms var(--primati-time-function), box-shadow 250ms var(--primati-time-function);
}
.partfolio-button:hover, .partfolio-button:focus {
  color: var(--footer-logo-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.work-link {
  display: block;
  position: relative;
  transition: box-shadow 250ms var(--primati-time-function);
}
.work-link:hover, .work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-modal-container {
  position: relative;
  overflow: hidden;
}

.modal-container-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--primati-time-function);
  overflow: auto;
}
.work-link:hover .modal-container-text, .work-link:focus .modal-container-text {
  transform: translateY(0);
}

.project-container {
  padding: 20px 24px;
  border-left: 1px solid var(--container-border-color);
  border-right: 1px solid var(--container-border-color);
  border-bottom: 1px solid var(--container-border-color);
}
.project-container .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-container .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primari-text-color);
}

.footer {
  background-color: var(--section-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--footer-logo-color);
  margin-right: 0;
}

.oll-footer {
  display: flex;
  align-items: baseline;
}

.futer-list-adress {
  display: block;
  margin-right: 70px;
}

.contacts-address {
  font-style: normal;
}

.adress-item {
  display: block;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  line-height: 1.71;
  color: var(--footer-logo-color);
  transition: color 250ms var(--primati-time-function);
}
.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  line-height: 1.71;
  color: var(--footer-auth-color);
  transition: color 250ms var(--primati-time-function);
}
.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.social-footer-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.footer-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--footer-logo-color);
  transition: background-color 250ms var(--primati-time-function);
}
.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  fill: currentColor;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-sub-email {
  padding: 15px 16px;
  width: 358px;
  background-color: inherit;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--footer-logo-color);
}
.footer-sub-email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub-email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sub-btn {
  gap: 10px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--footer-logo-color);
  transition: background-color 250ms var(--primati-time-function);
  cursor: pointer;
}
.footer-sub-btn:hover, .footer-sub-btn:focus {
  background-color: var(--hover-color-btn);
}/*# sourceMappingURL=main.css.map */