.hero {
  margin-left: auto;
  margin-right: auto;
  // max-width: 1600px;
  max-width: 100%;
  align-items: center;
  // padding: 200px 0;
  padding: 118px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: var(--hero-gradient), url(/images/hero-img/Hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--hero-gradient),
      url(/images/hero-img/Hero-mob-x2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: var(--hero-gradient), url(/images/hero-img/Hero-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient),
        url(/images/hero-img/Hero-tab-x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    background-image: var(--hero-gradient),
      url(/images/hero-img/hero-bg-desctop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient),
        url(/images/hero-img/hero-bg-desctop-x2.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  color: var(--page-bg-color);

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__btn {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  display: inline-block;
  margin: 0 auto;
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
  text-decoration: none;
  border-color: transparent;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms var(--primati-time-function);
  &:hover,
  &:focus {
    background-color: var(--hover-color-btn);
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
