.section-team {
  background-color: var(--bgc-ourteam-color);
}

.team {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% - 90px / 4);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team__title--indents {
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms var(--primati-time-function),
    background-color 250ms var(--primati-time-function);
  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--page-bg-color);
  }
}
