.open-mobile-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: var(--page-bg-color);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--primati-time-function),
    visibility 250ms var(--primati-time-function);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: scroll;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 80px 48px 40px;
  height: 100vh;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-menu__contact-tel {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mobile-menu__contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);

  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (min-width: 480px) {
    flex-wrap: nowrap;
  }
}

.mobile-menu__social-item:not(:last-child) {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(33, 33, 33, 0.2);
  padding-right: 5px;

  @media screen and (min-width: 480px) {
    padding-right: 10px;
  }
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
