.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--primati-time-function),
    visibility 250ms var(--primati-time-function);
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--page-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--primati-time-function);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms var(--primati-time-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms var(--primati-time-function);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--primati-time-function);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primari-text-color);
}

.modal-fild {
  margin-bottom: 10px;
}

.modal-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-comment-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--primati-time-function);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
  display: flex;
  align-items: center;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid rgb(33, 33, 33);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms var(--primati-time-function);

    .input-check:checked + & {
      background-color: var(--accent-color);
      border-color: transparent;
      fill: var(--footer-logo-color);
    }

    .input-check:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.policy {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.submit-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
  text-decoration: none;
  border-color: transparent;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms var(--primati-time-function);
  &:hover,
  &:focus {
    background-color: var(--hover-color-btn);
  }
}
