:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hover-color-btn: #188ce8;
    --logo-color: #000000;
    --footer-logo-color: #ffffff;
    --hover-color: #2196f3;
    --page-bg-color: #ffffff;
    --section-bg-color: #2f303a;
    --footer-auth-color: rgba(255, 255, 255, 0.6);
    --bgc-ourteam-color: #f5f4fa;
    --container-border-color: #eeeeee;
    --primati-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}